<footer class="bg-black/95 backdrop-blur-lg w-full xl:w-[100%] mx-auto">
  <div>
    <span class="text-sm text-white/90 text-center">
      2025
      <a href="" class="hover:underline">AscenderDev</a>

      <ul class="mt-3 text-sm font-medium text-white/90 sm:mt-0">
        <li>
          <img src="/Logo.png" alt="Logo Plant Care" class="rounded size-50" />
          <a href="#" class="hover:underline me-4 md:me-6">Galeria</a>
        </li>
        <li>
          <a href="#" class="hover:underline">Informacion y Cuidados</a>
        </li>
      </ul>
    </span>
  </div>
</footer>
