---
import "../styles/global.css";
---

<header
  class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto"
>
  <div class="flex gap-y-2 items-center justify-center">
    <p class="text-2xl font-semibold absolute left-10">Plant Care Reminder</p>
    <div>
      <nav class="flex flex-row gap-x-10 font-bold">
        <a href="/">Home</a>
        <a href="/about">About Us</a>
        <a href="/Galery">Boutique</a>
        <a href="/contact">Contact Us</a>
      </nav>
    </div>
  </div>
</header>
