<section class="">
  <div class="grid grid-cols-5 grid-rows-5 gap-4 max-w-5xl mx-auto">
    <div
      class="col-span-4 row-span-3 bg-blue-700 aspect-video rounded-2xl overflow-hidden w-full h-full object-cover"
    >
      <img src="/images/bg1.webp" alt="Fondo de flores variadas" />
    </div>
    <div class="row-span-2 col-start-5 bg-pink-500 rounded-2xl overflow-hidden">
      <img src="/images/bg-hero3.webp" alt="Fondo de flores variadas" />
    </div>
    <div
      class="row-span-2 col-start-5 row-start-3 bg-purple-700 rounded-2xl overflow-hidden"
    >
      <img
        src="/images/bg-hero4.webp"
        alt="Fondo de flores variadas"
        class="object-cover w-full h-full"
      />
    </div>
    <div
      class="col-span-2 row-start-4 bg-orange-500 rounded-2xl overflow-hidden"
    >
    </div>
    <div
      class="col-span-2 col-start-3 row-start-4 bg-green-500 rounded-2xl overflow-hidden"
    >
    </div>
  </div>
</section>
