<h2 class="text-3xl mb-3 text-center">
  Cuidado de <span class="text-blue-700">Plantas</span>
</h2>
<div>
  <div class="flex flex-row gap-x-4 w-full">
    <p class="text-left">
      Cada planta es única, por lo que es importante investigar las necesidades
      específicas de cada una. Al proporcionar el cuidado adecuado, puedes
      disfrutar de plantas vibrantes y hermosas en tu hogar o jardín.
    </p>
    <p class="text-left">
      El cuidado de las plantas no solo es esencial para el funcionamiento
      saludable de los ecosistemas, sino que también tiene beneficios directos
      para la salud humana y el equilibrio ambiental en general.
    </p>
  </div>
  <div class="grid grid-cols-3 gap-8 mt-8 w-full">
    <div>
      <p class="text-xl text-amber-900 text-center mb-3">Cuidados</p>
      <p class="text-center text-md">
        En los siguientes apartados encontraras información de diversos tipos de
        plantas, asi como los cuidados que deben de tener cada una de ellas.
      </p>
    </div>
    <div>
      <p class="text-xl text-amber-900 text-center mb-3">Información General</p>
      <p class="text-center text-md">
        Cada planta tendra su información general asi como los lugares donde se
        ubica con mayor frecuencia, asi como los distintos nombres por los
        cuales se les conoce.
      </p>
    </div>
    <div>
      <p class="text-xl text-amber-900 text-center mb-3">Botanica</p>
      <p class="text-center text-md">
        Esto te ayudara a mejorar los conocimientos basicos que tenemos sobre la
        botanica para poder tener un mejor cuidado, asi como poder diferenciar
        los distintostipos de plantas que podemos encontrar en nuestra vida
        diaria.
      </p>
    </div>
  </div>
</div>
