---
// Supports weights 400-900
import "@fontsource-variable/playfair-display";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Plant Care Reminder</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="description"
      content="Pagina para conocer acerca de cuidados de las plantas "
    />
    <meta property="og:title" content="Plant Care Reminder" />
    <meta
      property="og:description"
      content="Pagina para conocer acerca de cuidados de las plantas "
    />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>

<Footer />

<style is:global>
  html {
    font-family: "Onest Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
    /* color-scheme: dark light; */
  }
  body {
    background: #ffffff;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(225, 237, 233, 1) 26%,
      rgba(203, 225, 217, 1) 24%
    );

    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  @media (prefers-reduce-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
